@keyframes lops {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    50% {
        -webkit-transform: scale(0.8, 1.2);
        transform: scale(0.8, 1.2);
    }
    75% {
        -webkit-transform: scale(1.2, 0.8);
        transform: scale(1.2, 0.8);
    }
    100% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
}

@keyframes jippii {
    0% {transform: none;}
    25% {transform: skewX(-5deg);}
    50% {transform: none;}
    75% {transform: skewX(5deg);}
    100% {transform: none;}
}

body {
    font-family: Chiller, Arial;
    font-size: 200%;
    line-height: 80%;
    text-align: center;
    text-shadow: 4px 3px 10px rgb(185, 158, 26);;
    background-color: rgb(34, 66, 55);
    color: rgb(201, 227, 214);
}

#drion {
    width: 154px;
    height: 230px;
}

#drion:focus {
    -webkit-animation: lops 0.15s ease-out;
    animation: lops 0.15s ease-out;
}

#drion:active {
    -webkit-animation: none;
    animation: none;
}

#kerroinKuva {
    width: 150px;
    height: 141px;
    margin: 4px;
    float: left;
}

#generaattoriKuva {
    width: 150px;
    height: 162px;
    margin: 4px;
    float: right;
}

#palkinto {
    animation: jippii 2s ease 0s infinite normal;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    margin: 12px;
    padding: 0px 10px;
    border: 3px dotted rgb(201, 227, 214);
    background-color: rgb(29, 57, 47);
}

div:nth-child(even) {
    border: none;
    background-color: rgb(34, 66, 55);
}

.info {
    font-size: 80%;
}

#kerroinPäälle, #kerroinPois, #genPäälle, #genPois, #uusiPeli {
    display: none;
    font-family: Chiller, Arial;
    font-size: 80%;
    line-height: 80%;
    margin: 4px;
    text-align: center;
    background-color: rgb(22, 42, 35);
    color: rgb(201, 227, 214);
}