body {
    font-family: Chiller, Arial;
    font-size: 200%;
    line-height: 80%;
    text-align: center;
    background-color: rgb(34, 66, 55);
    color: rgb(201, 227, 214);
}

#drion {
    width: 154px;
    height: 230px;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    margin: 12px;
    padding: 0px 10px;
    border: 3px dotted rgb(201, 227, 214);
    background-color: rgb(29, 57, 47);
}

div:nth-child(even) {
    border: none;
    background-color: rgb(34, 66, 55);
}

.info {
    font-size: 80%;
}

button {
    font-family: Chiller, Arial;
    font-size: 80%;
    line-height: 80%;
    margin: 4px;
    text-align: center;
    background-color: rgb(22, 42, 35);
    color: rgb(201, 227, 214);
}

#kerroinPäälle, #kerroinPois {
    display: none;
    font-family: Chiller, Arial;
    font-size: 80%;
    line-height: 80%;
    margin: 4px;
    text-align: center;
    background-color: rgb(22, 42, 35);
    color: rgb(201, 227, 214);
}